.calculatin {
  background: url('../assets/img/jpg/3_bg\ 1.jpg') no-repeat center center / cover;
  padding: 43px 0 51px;

  @include mobile {
    padding: 30px 0;
  }

  &__title {
    color: white;
  }

  &__form {
    margin-top: 21px;
  }
}

.calc {
  background-color: white;
  box-shadow: 0px 19px 34px rgba(0, 0, 0, 0.45);
  border-radius: 50px;
  -webkit-appearance: none;

  &__type {
    padding: 36px 0 21px;
    border-bottom: 1px solid #E0E0E0;
  }

  &__title {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000000;

    @include mobile {
      padding: 0 20px;
    }
  }

  &__list {
    max-width: 550px;
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;    
    flex-direction: column;
    align-items: center;

    &:first-child {
      position: relative;

      &:before {
        content: 'кол-во';
        position: absolute;
        bottom: 12px;
        left: -50px;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        color: #575656;

        @include mobile {
          display: none;
        }
      }
    }

    @include mobile {
      width: 50%;
    }
  }

  &__img {
  }

  &__info {
    margin-top: 8px;

    @include mobile {
      margin-top: 3px;
    }
  }

  &__inut-number {
    margin-top: 11px;
    width: 80px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;

    @include mobile {
      margin-top: 3px;
    }
  }

  &__weight {
    padding: 16px 0 23px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    .calc__title {
      text-align: start;

      @include mobile {
        text-align: center;
      }
    }
  }

  &__left {
    width: 50%;

    @include mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    margin-top: 12px;
    -webkit-appearance: none;   

    @include mobile {
      width:  80%;
      margin-top: 5px;
    }
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

  &__right {
    width: 50%;

    @include mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
    }
  }

  &__select {
    margin-top: 12px;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 319px;
    height: 40px;
    padding-left: 11px;

    @include mobile {
      width: 80%;
      margin-top: 5px;
    }
  }

  &__cost {
    padding: 14px 0 24px;
    border-bottom: 1px solid #E0E0E0;
  }

  &__cost-wrap {
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    margin: 14px auto 0;
    
    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
  }

  &__wrap-radio {
    position: relative;

    @include mobile {
      margin-top: 15px;
      width: 80%;
    }
  }


  &__viber,
  &__whatsApp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 212px;
    height: 38px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

    @include mobile {
      width: 100%;
    }
  }

  &__viber {
    background: linear-gradient(186deg, rgba(215,215,215,1) 0%, rgba(144,144,144,1) 100%);
    @include transition;

    &:hover {
      opacity: .8;
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
    }
  }

  &__whatsApp {
    background: linear-gradient(186deg, rgba(215,215,215,1) 0%, rgba(144,144,144,1) 100%);
    @include transition;

    &:hover {
      opacity: .8;
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.35);
    }
  }

  &__radio {
    display: none;
    &:checked + .calc__whatsApp {
      background: linear-gradient(180deg, #02B327 0%, #13D93D 97.92%);
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.55);
    }

    &:checked + .calc__viber {
      background: linear-gradient(180deg, #CE62DB 0%, #EE65FF 97.92%);
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.55);
    }
  }

  &__icon {
    position: absolute;
    width: 26px;
    height: 21px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__phone {
    padding: 19px 0 12px;
  }

  &__wrap {
    max-width: 510px;
    width: 100%;
    margin: 18px auto 0;
    display: flex;
    justify-content: space-between;

    @include mobile {
      width: 80%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    margin-top: 20px;
    display: block;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #626161;

    @include mobile {
      padding: 0 20px;
    }
  }

  &__input-phone {
    width: 212px;
    height: 38px;
    background: #FFFEFF;
    -webkit-appearance: none;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.55);
    border-radius: 30px;
    border: none;

    @include mobile {
      width: 100%;
    }
  }

  &__btn {

    @include mobile {
      width: 100%;
      height: 38px;
      margin-top: 15px;
    }
  }
}

input[type='number'] {
  font-size: 26px;
  line-height: 140%;
  text-align: center;
  color: #575656;
}

select {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #575656;
}

input[name='phone'] {
  display: inline-block;
  
  margin: 0 auto;
  font-size: 16px;
  line-height: 140%;
  color: #575656;
}

