.footer {
  padding: 21px 0 25px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    @include mobile {
      width: 120px;
      height: 41px;
    }
  }

  &__arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    cursor: pointer;

    span {
      font-size: 13px;
line-height: 16px;
color: #A9A9A9;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    font-size: 25px;
    line-height: 30px;
    color: #000000;

    @include mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__btn {
    margin-top: 7px;
  }
}
