.head {
  padding-top: 37px;

  @include mobile {
    padding-top: 30px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mobile {
      
    }
  }

  &__logo {
    width: 136px;
    height: 46px;
  }

  &__middle {
    display: flex;
    margin-right: 70px;

    @include mobile {
      margin-right: 0;
    }
  }

  &__img {
    width: 36px;
    height: 34px;

    @include mobile {
      display: none;
    }
  }

  &__text {
    width: 92px;
    margin-left: 11px;
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #3C3C62;

    @include mobile {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__right {
    display: flex;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__social {
    display: flex;

    @include mobile {
      justify-content: space-around;
      width: 100%;
    }
  }

  &__link {
    margin-right: 20px;

    @include mobile {
      margin-right: 0;
    }
  }

  &__ico {
    width: 24px;
    height: 24px;
  }

  &__whatsApp {
    
  }

  &__viber {
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone {
    font-size: 25px;
    line-height: 30px;
    color: #000000;

    @include mobile {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__btn {
    margin-top: 7px;
  }
}

.header {
  position: relative;
  background: url('../assets/img/jpg/1_bg\ 1.jpg') no-repeat,
  url('../assets/img/jpg/girl_2\ 1.png') bottom right no-repeat;

  @include mobile {
    background: url('../assets/img/jpg/1_bg\ 1.jpg') no-repeat center -190px / cover;
  }
}
