.head {
  padding-top: 37px;

  @include mobile {
    padding-top: 30px;
    z-index: 1;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mobile {
      
    }
  }

  &__logo {
    width: 136px;
    height: 46px;
  }

  &__middle {
    display: flex;

    @include mobile {
      margin-right: 0;
    }
  }

  &__instagram {
    display: flex;    
    height: 20px;

    @include mobile {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -65px;
      width: 170px;
      z-index: 0;
      
    }
  }

  &__link-insta {
    margin-top: 3px;
    padding-right: 5px;
    color: #0f75bc;
    font-size: 18px;
    @include transition;
    height: auto;
    

    &:hover {
      opacity: .8;
      text-decoration: underline;
    }
  }

  &__logo-insta {
    width: 20px;
    height: 20px;
    stroke: #0f75bc;
  }

  &__img {
    width: 36px;
    height: 34px;

    @include mobile {
      display: none;
    }
  }

  &__text {
    width: 92px;
    margin-left: 11px;
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #3C3C62;

    @include mobile {
      position: absolute;
      left: 0;
      bottom: -25px;
    }
  }

  &__right {
    display: flex;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__social {
    display: flex;

    @include mobile {
      justify-content: space-around;
      width: 100%;
    }
  }

  &__link {
    margin-right: 20px;

    @include mobile {
      margin-right: 0;
    }
  }

  &__ico {
    width: 24px;
    height: 24px;
  }

  &__whatsApp {
    
  }

  &__viber {
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone {
    font-size: 25px;
    line-height: 30px;
    color: #000000;

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__btn {
    margin-top: 7px;
  }
}

.header {
  position: relative;
  background: url('../assets/img/jpg/girl_2\ 1.png') bottom right no-repeat,
              url('../assets/img/jpg/1_bg\ 1.jpg') no-repeat top center / cover;


  @include mobile {
    background: url('../assets/img/jpg/1_bg\ 1.jpg') no-repeat center -190px / cover;
  }
}
