@import "~normalize.css";
@import "~reset-css";
@import "~swiper/css/swiper.min.css";
@import "~aos/dist/aos.css";
@import "~intl-tel-input/build/css/intlTelinput.css";

@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/fonts';
@import './helpers/grid';
@import './helpers/typography';
@import './helpers/button';
@import './helpers/form';


@import './blocks/head';
@import './blocks/intro';
@import './blocks/production';
@import './blocks/desc';
@import './blocks/calculation';
@import './blocks/comfort';
@import './blocks/contacts';
@import './blocks/popup';
@import './blocks/thankyou';
@import './blocks/question';

// @import './blocks/main';
// @import './blocks/contacts';
// @import './blocks/gallery';
// @import './blocks/about-us';
// @import './blocks/services';
// @import './blocks/mobile-menu';
// @import './blocks/experience';
@import './blocks/footer';
// @import './blocks/modal';

.iti__flag {background-image: url("../assets/img/png/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../assets/img/png/flags@2x.png");}
}

.iti {
  width: 100%;
  outline: none;

  &__selected-flag {
    outline: none;

    &:hover {
      border-radius: 20px;
    }
  }
}
